asgiref
certifi
charset-normalizer
coreapi
coreschema
dj-database-url
Django
django-cors-headers
django-model-utils
djangorestframework
djangorestframework-simplejwt
drf-yasg
idna
inflection
itypes
Jinja2
MarkupSafe
mysql-connector-python
mysqlclient
packaging
psycopg2-binary
PyJWT
pytz
requests
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
waitress
whitenoise
pycgi
